body{
    font-family: 'Inter' , sans-serif;
    color: aqua;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    padding: 30px;
    text-align: center;
    max-width: 500px;
    justify-content: center;
}

h1{
    background-color: green;
    font-size: 1.8em;
    margin-bottom: 10px;
}

p{
    color: red;
    font-weight: 700;
}

#text-input{
    width: 300px;
    height: 100px;
    padding: 10px;
    border: 1px solid  #cbd5e1 ;
}

#text-input:focus{
    border-color:#3b82f6;
    outline: none;
}

#char-count{
    font-family : sans-serif ;
    font-size: 0.9em;
    transition : color 0.3s ease ;
    margin-top: 5px;
}

.limit-Reached{
    color: red;
    font-weight: 900;
    animation: pulse 0.5 infinite alternate;
}

@keyframes pulse {
    from {opacity: 1;}
    to{
       opacity: 0.9;
    }
}